body {
    margin: 0;
    padding: 0;
}

.big-box {
    display: flex;
    width: 100vw;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form > input {
    margin: 10px;
}

.bank-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
}

.bank-form > input {
    margin-right: 10px;
}

.container {
    margin: 50px;
}

.home-title {
    font-family: 'Arvo', serif;
}

.nav-link {
    font-family: 'Arvo', serif;
}

.navbar-brand {
    font-family: 'Arvo', serif;
}

th {
    font-family: 'Arvo', serif;
}

td {
    font-family: 'Arvo', serif;
}