{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="container">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
            <th scope="col">No.Anggota</th>
            <th scope="col">ID</th>
            <th scope="col">Nama</th>
            <th scope="col">Alamat</th>
            <th scope="col">Tanggal Lahir</th>
            <th scope="col">No.Hp</th>
            <th scope="col">Tanggal Keanggotaan</th>
            </tr>
        </thead>
        <tbody>
            {% for data in db %}
            <tr>
            <th scope="row">{{ data.no_anggota }}</td>
            <td>{{ data.id }}</td>
            <td>{{ data.nama }}</td>
            <td>{{ data.alamat }}</td>
            <td>{{ data.tanggal_lahir }}</td>
            <td>{{ data.no_hp }}</td>
            <td>-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}