{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="container">
        <div>
            <form class="bank-form" method="POST" action="{% url 'bank:add' %}">
                {% csrf_token %}
                <input type="text" name="mitra" placeholder="Nama Bank">
                <button type="submit">Add Bank Mitra</button>
            </form>
        </div>
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                <th scope="col">Kode</th>
                <th scope="col">Nama Bank</th>
                </tr>
            </thead>
            <tbody>
                {% for data in db %}
                <tr>
                <th scope="row">{{ data.kode }}</td>
                <td>{{ data.nama }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}