{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="big-box">
    <h1 class="home-title">KOMIKA</h1>
    {% if request.session.nomor_anggota == None %}
    <form class="login-form" action="" class="" method="POST">
        {% csrf_token %}
        <p>{{ error_message }}</p>
        <input type="input" class="form-control mr-sm-2" name="nomor_anggota" id="inputEmail" placeholder="Nomor Anggota" required >
        <input type="password" class="form-control mr-sm-2" name="password" id="inputPass" placeholder="Password" required>
        <button type="submit" style="opacity: 1 !important;">Login</button>
    </form>
    {% endif %}
</div>

{% endblock %}