{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="container">
    <table class="table table-hover table-responsive-md">
        <thead>
            <tr>
            <th scope="col">Nomor Urut</th>
            <th scope="col">Jumlah Komik</th>
            <th scope="col">ID Menu</th>
            <th scope="col">Timestamp Transaksi</th>
            <th scope="col">Nomor Anggota</th>
            </tr>
        </thead>
        <tbody>
            {% for data in db_pinjam %}
            <tr>
            <th scope="row">{{ data.nomor_urut }}</td>
            <td>{{ data.jumlah }}</td>
            <td>{{ data.id_produk }}</td>
            <td>{{ data.timestamp_pinjam }}</td>
            <td>{{ data.no_anggota }}</td>
            </tr>
            {% endfor %}
            {% for data in db_baca %}
            <tr>
            <th scope="row">{{ data.nomor_urut }}</td>
            <td>{{ data.jumlah }}</td>
            <td>{{ data.id_produk }}</td>
            <td>{{ data.timestamp_baca }}</td>
            <td>{{ data.no_anggota }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}