{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="container">
    <table class="table table-hover table-responsive-md">
        <thead>
            <tr>
            <th scope="col">ID Produk</th>
            <th scope="col">Nama</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Tipe Produk</th>
            <!-- <th scope="col">Ketersediaan</th>
            <th scope="col">Seri</th>
            <th scope="col">Harga</th> -->
            </tr>
        </thead>
        <tbody>
            {% for data in db %}
            <tr>
            <th scope="row">{{ data.id_produk }}</td>
            <td>{{ data.nama }}</td>
            <td>{{ data.jumlah }}</td>
            <td>{{ data.tipe_produk }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}