{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="container">
    <table class="table table-hover table-responsive-md">
        <thead>
            <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Jumlah Komik</th>
            <th scope="col">Jumlah Menu</th>
            <th scope="col">Total Biaya</th>
            <th scope="col">Nomor Anggota</th>
            <th scope="col">Kode Pembayaran Bank</th>
            </tr>
        </thead>
        <tbody>
            {% for data in db %}
            <tr>
            <th scope="row">{{ data.timestamp }}</td>
            <td>{{ data.jumlah_komik }}</td>
            <td>{{ data.jumlah_menu }}</td>
            <td>{{ data.total_biaya }}</td>
            <td>{{ data.no_anggota }}</td>
            <td>{{ data.kode }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}